*{
	margin: 0px;
	padding: 0px;
}
body{
	
	background-color: rgb(255,179,204);
}
a{
	color: rgb(205,0,68);
	text-decoration: none;
}
a:hover{
	color: rgb(255,230,251);
}
#contener{
	background-color: rgb(255,128,170);
	width: 1004px;
	margin: 0 auto;	
	border-left: 3px solid rgb(255,51,119);
	border-top: 3px solid rgb(255,51,119);
	margin-top: 40px;
}
#top-part-contener{
	position: relative;

	width: 944px;
	height: 150px;
}
img.logo{
	border: 0;
	position: absolute;
	top: 0px;
	left: 0px;
}
#contact-box{
	position: absolute;
	right: 40px;
	top: 10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/* MENU GORNE*/
#top-menu{
	position: absolute;
	left: 30px;
	bottom: 0px;
}
#main-top-menu li{
	list-style-type: none;
	float: left;
	border-top: 1px solid rgb(255,51,119);
}
#main-top-menu li a{
	display: inline-block;
	float: left;
	height: 30px;
	background-color: rgb(255,102,153);
	padding: 10px 15px 0 15px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: rgb(255,221,186);

}
#main-top-menu li a:hover, #main-top-menu li.actual a{
	color: rgb(255,102,153);
	background-color: rgb(255,221,186);
}
span.link{
	display: inline-block;
	margin-top: 5px;
}
/* SRODKOWE MENU */
#second-menu{
	color: rgb(255,102,153);
	background-color: rgb(255,221,186);
	width: 1005px;
	height: 32px;
}
#second-menu li{
	list-style-type: none;
	float: left;
}

#second-menu li a{
	color: rgb(255,102,153);
	font-size: 13px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
}
#second-menu li span.link2{
	display: block;
	margin-top: 7px;
}
#second-menu #first-level{
	margin-left: 70px;
}
#second-menu span.break-space{
	display: inline-block;
	margin: 5px 10px 0 10px;
	color: rgb(255,102,153);
}
#second-menu li a:hover{
	color: rgb(189,161,133);
}
